<h1>About</h1>

<p>This site was built using Ruby on Rails, on the 5th week of the Web Development Immersive at General Assembly Sydney.</p>

<p>Visit my portofolio <a href="http://edfastovski.com">edfastovski.com</a> </p>