/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@font-face
{
font-family: headings;
src: url('<%= asset_path('bold.ttf') %>');
}
@font-face
{
font-family: body;
src: url('<%= asset_path('body.ttf') %>');
}

body {
font-family: verdana, arial, helvetica, sans-serif;
line-height: 21px;
font-size: 14px;
}

h1, h2 {
  font-family: headings, Impact, Arial;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.container {
max-width: 960px;
margin: 0 auto;
}

header {
  margin-bottom: 50px;
  overflow: auto;
}

#top-band {
  background: #222;
  color: white;
  margin: 0;
  overflow: auto;
}

header a {
  color: inherit;
}

.upvotes {
  color: green;
}

.downvotes {
  color: red;
}

/* NAV STYLES */

#sticky {
  padding: 10px 0 10px 0;
  border-top: 1px solid #cdcdcd;
  border-bottom:  1px solid #cdcdcd;
  -webkit-box-shadow: 0 0 2px 0 rgba(50,50,50,0.3);
  -moz-box-shadow: 0 0 2px 0 rgba(50,50,50,0.3);
  box-shadow: 0 0 2px 0 rgba(50,50,50,0.3);
}

#sticky.stuck {
  position: fixed;
  width: 100%;
  background: rgba(255,255,255,0.965);
  top: 0;
  padding: 10px 0 10px 0;
  -webkit-box-shadow: 0 0 16px 0 rgba(50,50,50,0.3);
  -moz-box-shadow: 0 0 16px 0 rgba(50,50,50,0.3);
  box-shadow: 0 0 16px 0 rgba(50,50,50,0.3);
  position: fixed;
  z-index: 1000;
  opacity: 1;
}

.login {
  float: right;
  margin-right: 10px;
}

#sticky ul li {
  display: inline-block;
  padding: 0 10px 0 10px;
}

#sticky li a:link {
  text-decoration: none;
  color: black;
}

a:hover {
  color: red;
}

/* FOOTER STYLES */

footer {
  background: #222;
  color: #666;
}

#copyarea {
  padding: 30px;
}
.copy {
  display: inline-block;
}

#right {
  float: right;
}

#footsep {
  border-color: #666;
  background-color: #666;
}