/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
* {
  margin: 0;
}


@font-face
{
font-family: headings;
src: asset-path('bold.ttf');
}
@font-face
{
font-family: body;
src: asset-path('body.ttf');
}

html {
  height: 100%;
}

body {
font-family: verdana, arial, helvetica, sans-serif;
line-height: 21px;
font-size: 14px;
height: 100%;
}

h1 {
  font-family: headings, Impact, Arial;
  text-transform: uppercase;
  font-size: 1.1em;
}

.container {
max-width: 960px;
margin: 0 auto;
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -100px;
}

.upvotes {
  color: green;
}

.downvotes {
  color: red;
}

.upvote-button {
  float:left;
  margin-right: 10px; 
}

.upvote-button form input[type="submit"] {
  background-color: green;
  color: white;
}

.downvote-button form input[type="submit"] {
  background-color: red;
  color: white;
}

.upvote-button form input[type="submit"], .downvote-button form input[type="submit"] {
  -webkit-border-radius:6px;
  -moz-border-radius:6px;
  border-radius:6px;
  border: none;
}

/* HEADER STYLES */

header {
  margin-bottom: 50px;
  overflow: auto;
}

#top-band {
  background: #222;
  color: white;
  margin: 0;
  overflow: auto;
}

#top-band h1 {
  margin-left: 20px;
  padding-top: 14px;
}

#top-band h3 {
  font-family: headings, Impact, Arial;
  text-transform: uppercase;
  font-size: 1.5em;
  letter-spacing: +0.05em;
  float: right;
  margin-right: 20px;
  margin-top: 34px;
}

#top-band img {
  float: left;
  height: 50px;
  padding: 15px 10px 16px 20px;
  margin: 0;
}

header a {
  color: inherit;
}

.my-sticky-element {
  border-top: 1px solid #cdcdcd;
  border-bottom:  1px solid #cdcdcd;
  -webkit-box-shadow: 0 0 2px 0 rgba(50,50,50,0.3);
  -moz-box-shadow: 0 0 2px 0 rgba(50,50,50,0.3);
  box-shadow: 0 0 2px 0 rgba(50,50,50,0.3);
}

#sticky-content {
  margin: 10px 0 10px 0;
}

.my-sticky-element.stuck {
  position: fixed;
  width: 100%;
  background: rgba(255,255,255,0.965);
  top: 0;
  
  -webkit-box-shadow: 0 0 16px 0 rgba(50,50,50,0.3);
  -moz-box-shadow: 0 0 16px 0 rgba(50,50,50,0.3);
  box-shadow: 0 0 16px 0 rgba(50,50,50,0.3);
  position: fixed;
  z-index: 1000;
  opacity: 1;
}

.login {
  float: right;
  margin-right: 25px;
}

.login p {

}

.my-sticky-element ul {
  padding-left: 20px;
}

.my-sticky-element ul li {
  display: inline-block;
  padding: 0 10px 0 10px;
}

.my-sticky-element li a:link {
  text-decoration: none;
  color: black;
}

a:hover {
  color: red;
}

/*COMMENT STYLES*/

.comments {
  border-top: 1px solid #cdcdcd;
  margin: 20px 0 15px 0;
}

.comment {
  margin: 15px 0 15px 0;
}

h4 {
  font-size: 1.1em;
}

/* FOOTER STYLES */

footer {
  background: #222;
  color: #666;
  height: 140px;
  margin-top: 20px;
}

footer, .push {
  height: 100px;
}

#copyarea {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 960px;
  margin: 0 auto;
}
.copy {
  display: inline-block;
}

#right {
  float: right;
}

#footsep {
  border-color: #666;
  background-color: #666;
}