<footer>
    
      <div class="container">
      
        <div id="copyarea">
        <hr id="footsep">
        <p class="copy" id="right">Assembled in Sydney</p>
        <p class="copy">&copy;2013 Eduard Fastovski.</p>
        </div> <!--  end copyarea  -->
      </div>
      
    </footer>